@media (max-width: 768px) {
  header .d-md-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header .text-start {
    text-align: center !important;
  }
}

 .scroll-container {
    height: 380px;
    overflow-y: scroll;
    padding-right: 10px;
  }
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  .scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
/*         */
  
    .nav-link {
      color: black;
      font-weight: bold;
      padding: 8px 0;
    }

    .nav-link:hover {
      color: white;
    }

    .submenu a, .submenu li a {
      display: block;
      padding: 6px 0;
      color: black;
      text-decoration: none;
      border-bottom: 1px solid #000;
    }
.submenu li {
list-style-type:none;
}
    .submenu a:hover,  .submenu a:hover{
      color: white;
    }

    .submenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.submenu li {
  padding: 0;
  margin: 0;
}

.submenu a {
  display: block;
  padding: 10px 0;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  transition: all 0.2s ease;
}
.ptextstyle{
  font-size: 15px;
}